<%- include('partials/header') %>

  <head>
    <title>Blogs</title>
    <link rel="stylesheet" href="/blog.css">
  </head>

  <body>
    <%- include('partials/navbar') %>
      <div class="blog-items">
        <div class=" nav_btn my-3 p-3 d-flex justify-content-end">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Filter
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">All</a></li>
              <li><a class="dropdown-item" href="#">Interviews</a></li>
              <li><a class="dropdown-item" href="#">Blogs</a></li>
              <li><a class="dropdown-item" href="#">Notices</a></li>
            </ul>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <% if(blogs.length==0){ %>
              <h2
                style="padding-top: 35px;font-size: 2rem; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                No Blogs Available</h2>
              <% } %>
                <% for(let i in blogs){ %>
                  <div class="col-12 col-sm-8 col-md-6 col-lg-4" style="padding-top: 10px;">
                    <div class="card">
                      <img class="card-img"
                        src="https://www.emergingedtech.com/wp/wp-content/uploads/2018/04/blogging.jpg" alt="Bologna">
                      <div class="card-body">
                        <h4 style="text-decoration: none;" class="card-title">
                          <%= blogs[i].title %>
                        </h4>
                        <small class="text-muted cat">
                          <i class="far fa-clock text-info"></i> 30 minutes
                        </small>
                        <p class="card-text">
                          <%= blogs[i].content %>
                        </p>
                        <a href="/blog/<%= blogs[i]._id %>" class="btn btn-info">Read More</a>
                      </div>
                      <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                        <div class="views">
                          <%= blogs[i].date %>
                        </div>
                        <div class="stats">
                          <i class="fa-solid fa-heart"></i> 30
                          <i class="fa-solid fa-heart-crack"></i> 12
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
          </div>

        </div>
      </div>

      <%- include('partials/footer') %>
  </body>

  </html>