<%- include('partials/header') %>

<head>
    <title>Notice</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/notice.css">
</head>

<body>
    <%- include("./partials/navbar") %>
    <div class="scroll">
        <div class="container">
            <h1 style="font-size: 2.5rem; text-align: center; text-decoration: underline;">NOTICE</h1>
            <% for(let i in notices){ %>
                <div class="notice-box" style="border-radius: 1rem;">
                    <h3><%= notices[i].title %></h3>
                    <p class="card-text"><%- notices[i].content %></p>
                </div>
            <% } %>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>

</html>